// Put here your email sending configurations!
module.exports = {
  emailTransport: {
    // host: 'yoursmtpserver',
    // port: 25,
    // auth: { user: '####', pass: '####' }
  },
  emailOptions: {
    from: 'Your Name Here <example@example.com>'
  },
  users: [
    {
      username: 'admin',
      password: 'password'
    }
  ],
  mails: {
    step1: 'https://htmlcontent',
    invitation: 'https://htmlcontent',
    requestMatch: 'https://htmlcontent',
    offerMatch: 'https://htmlcontent',
    matchInformations: 'https://htmlcontent'
  },
  lecDest: 'procurations@jlm2017.fr',
  secret: 'cat keyboard',
  redisPrefix: 'jlm2017:procurations:',
  host: 'https://example.com',
  api_key: ''
}
