extends layout.pug

block content
  p.lead.
    Merci&nbsp;! Dès qu'une personne aura accepté de prendre
    votre procuration, vous serez contacté&middot;e et recevrez toutes les informations
    nécessaires. À très bientôt&nbsp;!
