doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href="https://jlm2017.github.io/theme/dist/theme.css", rel="stylesheet" crossorigin="anonymous")
    link(rel="canonical" href="https://procurations.jlm2017.fr/")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" integrity="sha256-xaHB15TZbLhew82A2NzY8rvCCp/REcOA/kSpWWO7TlE=" crossorigin="anonymous")
    link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css", rel="stylesheet", integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN", crossorigin="anonymous")
    link(rel="icon" href="https://jlm2017.fr//app/uploads/2017/01/cropped-cropped-phi-32x32.png" sizes="32x32")
    link(rel="icon" href="https://jlm2017.fr//app/uploads/2017/01/cropped-cropped-phi-192x192.png" sizes="192x192")
    link(rel="apple-touch-icon-precomposed" href="https://jlm2017.fr//app/uploads/2017/01/cropped-cropped-phi-180x180.png")
    meta(name="msapplication-TileImage" content="https://jlm2017.fr//app/uploads/2017/01/cropped-cropped-phi-270x270.png")
    title Votez pour Jean-Luc Mélenchon par procuration
    meta(name="description" content="Je souhaite voter pour Jean-Luc Mélenchon, mais je ne serai pas dans ma commune d'inscription le 23 avril et/ou le 7 mai&nbsp;? En trois clics, je trouve quelqu'un qui peut prendre ma procuration.")
    meta(property="og:locale" content="fr_FR")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Votez pour Jean-Luc Mélenchon par procuration")
    meta(property="og:description" content="Je souhaite voter pour Jean-Luc Mélenchon, mais je ne serai pas dans ma commune d'inscription le 23 avril et/ou le 7 mai&nbsp;? En trois clics, je trouve quelqu'un qui peut prendre ma procuration.")
    meta(property="og:url" content="https://procurations.jlm2017.fr/")
    meta(property="og:site_name" content="JLM 2017")
    meta(property="og:image" content=config.host + "/public/background.jpg")
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:description" content="Je souhaite voter pour Jean-Luc Mélenchon, mais je ne serai pas dans ma commune d'inscription le 23 avril et/ou le 7 mai&nbsp;? En trois clics, je trouve quelqu'un qui peut prendre ma procuration.")
    meta(name="twitter:title" content="Votez pour Jean-Luc Mélenchon par procuration")
    meta(name="twitter:site" content="@JLM_2017")
    meta(name="twitter:image" content=config.host + "/public/background.jpg")
    meta(name="twitter:creator" content="@JLM_2017")
    style.
      html, body {
        min-height: 100%;
        height: auto;
      }
  body(style="background-image: url('/public/background.jpg');background-position:center;background-size:cover;")
    .container(style="padding-bottom:40px;margin-bottom:-40px;min-height:100%;")
      .row
        .col-responsive
          img.img-responsive(src="/public/logo.png")
      block large_content
        .row
          .col-responsive(style="background-color: rgba(255,255,255,0.85);padding: 20px 15px;box-shadow:1px 1px 3px 2px rgba(0, 0, 0, 0.2)")
            block content
    .container-fluid(style="height:40px;padding-top:10px;")
      p.small.text-right.text-muted.
        Fond&nbsp;: Ksiamon (Own work) [<a href="http://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>], <a href="https://commons.wikimedia.org/wiki/File%3ACarte_%C3%A9lectorale_Vote_France.JPG">via Wikimedia Commons</a>
