doctype
html
  head
    link(href="https://jlm2017.github.io/theme/dist/theme.css", rel="stylesheet" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.min.css" integrity="sha256-xaHB15TZbLhew82A2NzY8rvCCp/REcOA/kSpWWO7TlE=" crossorigin="anonymous")
  body
    .container
      .row
        .col-responsive
          img.img-responsive(src="/public/logo.png")
          block content
