extends layout.pug

block content
  p.
    Merci&nbsp! Nous connaissons désormais votre commune d'inscription sur les
    listes électorales. Si quelqu'un a encore besoin d'une procuration dans
    cette commune, vous serez contacté⋅e par e-mail.
  p.
    Si vous ne recevez rien, c'est que toutes les demandes ont été satisfaites.
    Vous recevrez alors un e-mail lorsqu'il y aura une nouvelle demande&nbsp;!
