extends layout.pug

block content
  p.lead.
    Je souhaite voter pour Jean-Luc Mélenchon, mais je ne serai pas dans ma commune d'inscription le 23 avril et/ou le 7 mai&nbsp;?
  p.lead.
    En trois clics, je trouve un&middot;e insoumis&middot;e qui peut prendre ma procuration.
  form(action="/etape-1" method="POST")
    .form-group(class=errors? "has-error" : "")
      label 1. J'indique mon adresse e-mail.
      input.form-control.input-block.input-lg.text-center(type="email" name="email" required)
      if errors
        span.help-block= errors.email
    .form-group.text-right
      input.btn.btn-primary(type="submit" value="Trouver quelqu'un dans ma commune" style="white-space: normal;")
